<h1>Viewing Party Lite</h1>

<% if current_user %>
  <%= link_to "Logout", '/logout', method: :delete %>
   <h2>Users: </h2>
  <% @users.each do |user| %>
    <div id="users-<%=user.id%>">
      <p> <h3><%=  user.email%></h3></p>
  <% end %>
  <% else %>
  <%= link_to "Register as a User", new_user_path %>
  <%= link_to "Login", login_path %>
      <br>
    </div>
 <% end %>


<% if current_admin %>
  <%= link_to "Logout", '/logout', method: :delete %>
  <% @users.each do |user| %>
      <div id="users-<%=user.id%>">
        <p> <h3><%= link_to user.name, "users/#{user.id}" %></h3></p>
  <% end %>
          <br>
      </div>
 <% end %>
